.index {
    background-color: #012e72;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #012e72;
    height: 350px;
    position: relative;
    width: 1440px;
  }
  
  .index .we-will-further {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 28px;
    font-weight: 500;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
  }
  
  .index .frame {
    height: 20px;
    left: 80px;
    position: absolute;
    top: 207px;
    width: 78px;
  }
  
  .index .group {
    height: 58px;
    left: 80px;
    position: absolute;
    top: 257px;
    width: 194px;
  }
  
  .index .text-wrapper {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 69px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    transition: all 0.2s ease;
  }
  
  .index .TV {
    height: 58px;
    left: 0;
    position: absolute;
    top: 0;
    width: 59px;
  }
  
  .index .text-wrapper-2 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 947px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 59px;
    white-space: nowrap;
  }
  
  .index .p {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1009px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 112px;
    transition: all 0.2s ease;
    width: 371px;
  }
  
  .index .place-marker-wrapper {
    background-color: #a1a1a1;
    border-radius: 9px;
    height: 40px;
    left: 947px;
    position: absolute;
    top: 123px;
    width: 40px;
  }
  
  .index .place-marker {
    height: 32px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 32px;
  }
  
  .index .text-wrapper-3 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1009px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 197px;
    transition: all 0.2s ease;
    width: 387px;
  }
  
  .index .phone-wrapper {
    background-color: #a1a1a1;
    border-radius: 9px;
    height: 40px;
    left: 944px;
    position: absolute;
    top: 188px;
    width: 40px;
  }
  
  .index .phone {
    height: 27px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 27px;
  }
  
  .index .text-wrapper-4 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1009px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 253px;
    transition: all 0.2s ease;
    width: 371px;
  }
  
  .index .email-wrapper {
    background-color: #a1a1a1;
    border-radius: 9px;
    height: 40px;
    left: 944px;
    position: absolute;
    top: 243px;
    width: 40px;
  }
  
  .index .email {
    height: 30px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 30px;
  }
  
  .index .text-wrapper-5 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 300;
    left: 531px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 314px;
    white-space: nowrap;
    width: 378px;
  }
  