.index {
    background-color: #012e72;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #012e72;
    height: 100px;
    position: relative;
    width: 1440px;
  }
  
  .index .navbar {
    align-items: flex-start;
    display: inline-flex;
    gap: 80px;
    left: 356px;
    position: absolute;
    top: 42px;
  }
  
  .index .text-wrapper {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .index .text-wrapper-2 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    transition: all 0.2s ease;
    width: fit-content;
  }
  
  .index .frame {
    height: 20px;
    left: 1282px;
    position: absolute;
    top: 39px;
    width: 78px;
  }
  
  .index .group {
    height: 58px;
    left: 24px;
    position: absolute;
    top: 21px;
    width: 194px;
  }
  
  .index .text-wrapper-3 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 69px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    transition: all 0.2s ease;
  }
  
  .index .TV {
    height: 58px;
    left: 0;
    position: absolute;
    top: 0;
    width: 59px;
  }
  